
@keyframes rotacion {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes relleno {
    from {fill: #234FCB;}
    to {fill: #D25039;}
}

@keyframes twinkling {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes mouseMove {
    0% {
        transform: translateY(0px) translateX(-150);
    }
    50% {
        transform: translateY(200px) translateX(-320px);
    }
    100% {
        transform: translateY(-30px) translateX(-300px);
    }
}

body {
    text-align: center;
    margin-top: 0px;
    background-color: #EDEAE3; 
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mouse {

    max-width: 70px;
    stroke: #234FCB;
    fill: #234FCB;
    animation: mouseMove 2.5s ease-out alternate-reverse; 
  
}
#spark{ 
    margin-top: 105px; 
    margin-right: 30px;
    animation: rotacion 3s linear 0.5s infinite forwards, relleno 1s linear 0.5s infinite alternate;
}

#nine {
    max-width: 150px;
}
#pixheart{
    width: 46px;
    margin-bottom: 20px ;
    transition: width 2s;
    transition-timing-function: ease-out;
    animation:twinkling 1s infinite alternate;
    animation-delay: 0s;
}

#pixheart:hover{
    width: 200px;
}
#sparktwo{
    margin-left: 25px;
    margin-bottom: 105px; 
    animation: rotacion 3s linear 0.5s infinite forwards, relleno 1s linear 0.5s infinite alternate;
}

#five {
    max-width: 150px;
    margin-left: 12px;
}
